/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 13/06/2023, 08:43:13 PM
    Author     : lizet
*/
#gradiantes {
  background-image: linear-gradient(to right, goldenrod,#00FA9A,yellow,#FFFAFA,#FF6347,#EE82EE,#9ACD32);
}

h1{
      text-shadow: 2.5px 2.5px 10px #FF00FF;
}
h3 {
  color: coral;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#rotacion {
   transform: rotate(-20deg);
}

header{
    background-color: #48D1CC;
border: 2em;
border-color: #FF1493;
border-style: dashed;
border-radius: 30px;
}
nav{
      background-color: pink;
    border:  2px solid red;
    border-radius: 5px;
    text-decoration: none;
    color: #00008B;
    transition: 5s;
    
}
.borderImg{
    border: 10px solid transparent;
    padding: 15px;
    border-image: url("border.png") 30 stretch;
}
.border2{
    border: 10px solid transparent;
    padding: 15px;
    border-image: url("border2.jpg") 20 stretch;
}
.border3{
    border: 10px solid transparent;
    padding: 15px;
    border-image: url("border1.png") 10 stretch;
}


#imagen {
    background: url(imagen1.jpg) center top repeat;
}

@keyframes example {
  0%   {background-color:red; right:0px; top:0px;}
  25%  {background-color:yellow; right:200px; top:0px;}
  50%  {background-color:blue; right:200px; top:200px;}
  75%  {background-color:green; right:0px; top:200px;}
  100% {background-color:red; right:0px; top:0px;}
}
article {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: red;
  animation-name: example;
  animation-duration: 8s;
}
footer {
  width: 100px;
  height: 100px;
  background: #7CFC00;
  transition: width 2s, height 4s;
}
footer:hover {
  width: 300px;
  height: 300px;
}
a{
     background-color: #00FFFF;
    border:  2px solid #00008B;
    border-radius: 10px;
    text-decoration: none;
    color: grey;
    transition: 5s;
}
#imagen1{
     border-radius: 50%;
}
#imagen2{
     opacity: 0.8;
}

